<li>
    <a asp-area="Webmaster" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Trang chủ</a>
</li>
<!--Tài khoản-->
<li>
    <a href="#"><i class="fas fa-user"></i> Tài khoản<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a asp-area="Webmaster" asp-controller="TaiKhoan" asp-action="Index">Tài khoản</a>
        </li>
        <li>
            <a asp-area="Webmaster" asp-controller="LoaiNguoiDung" asp-action="Index">Loại người dùng</a>
        </li>
        <li>
            <a asp-area="#" asp-controller="#" asp-action="#">Đánh giá</a>
        </li>
        <li>
            <a asp-area="#" asp-controller="#" asp-action="#">Giỏ hàng</a>
        </li>
        <li>
            <a asp-area="#" asp-controller="#" asp-action="#">Lịch sử gian hàng</a>
        </li>
    </ul>
</li>
<!--Sản phẩm-->
<li>
    <a href="#"><i class="fas fa-box-open"></i> Sản phẩm<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a asp-area="#" asp-controller="#" asp-action="#">Sản phẩm</a>
        </li>
        <li>
            <a asp-area="#" asp-controller="#" asp-action="#">Size sản phẩm</a>
        </li>
        <li>
            <a asp-area="#" asp-controller="#" asp-action="#">Hãng sản phẩm</a>
        </li>
    </ul>
</li>
<!--Quảng cáo-->
<li>
    <a href="#"><i class="fas fa-bullhorn"></i> Quảng cáo<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a asp-area="#" asp-controller="#" asp-action="#">Quảng cáo</a>
        </li>
        <li>
            <a asp-area="#" asp-controller="#" asp-action="#">Gói quảng cáo</a>
        </li>
        <li>
            <a asp-area="#" asp-controller="#" asp-action="#">Vị trí quảng cáo</a>
        </li>
        <li>
            <a asp-area="#" asp-controller="#" asp-action="#">Trang quảng cáo</a>
        </li>
    </ul>
</li>
<!--Phiếu-->
<li>
    <a href="#"><i class="far fa-clipboard"></i> Đơn hàng<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a asp-area="#" asp-controller="#" asp-action="#">Phiếu đặt hàng</a>
        </li>
        <li>
            <a asp-area="#" asp-controller="#" asp-action="#">Phiếu giao hàng</a>
        </li>
    </ul>
</li>
<!--Khác-->
<li>
    <a href="#"><i class="fas fa-ghost"></i> Khác<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a asp-area="#" asp-controller="#" asp-action="#">Giá ship</a>
        </li>
        <li>
            <a asp-area="#" asp-controller="#" asp-action="#">Tỉnh thành</a>
        </li>
        <li>
            <a asp-area="Webmaster" asp-controller="GianHang" asp-action="Index">Gian hàng</a>
        </li>
    </ul>
</li>
<script src="~/admintemplate/vendor/jquery/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="~/admintemplate/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="~/admintemplate/vendor/metisMenu/metisMenu.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="~/admintemplate/dist/js/sb-admin-2.js"></script>