<li>
    <a asp-area="Webmaster" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Trang chủ</a>
</li>
<!--Tài khoản-->
<li>
    <a href="#"><i class="fas fa-user"></i> Tài khoản<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a asp-area="Webmaster" asp-controller="TaiKhoan" asp-action="Index">Tài khoản</a>
        </li>
        <li>
            <a asp-area="Webmaster" asp-controller="DiaChi" asp-action="Index">Địa chỉ</a>
        </li>
        <li>
            <a asp-area="Webmaster" asp-controller="LoaiNguoiDung" asp-action="Index">Loại người dùng</a>
        </li>
        <li>
            <a asp-area="Webmaster" asp-controller="DanhGia" asp-action="Index">Đánh giá</a>
        </li>
        <li>
            <a asp-area="Webmaster" asp-controller="LichSuGianHang" asp-action="Index">Lịch sử gian hàng</a>
        </li>
    </ul>
</li>
<!--Sản phẩm-->
<li>
    <a href="#"><i class="fas fa-box-open"></i> Sản phẩm<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a asp-area="Webmaster" asp-controller="SanPham" asp-action="Index">Sản phẩm</a>
        </li>
        <li>
            <a asp-area="Webmaster" asp-controller="SizeSanPham" asp-action="Index">Size sản phẩm</a>
        </li>
        <li>
            <a asp-area="Webmaster" asp-controller="HangSanPham" asp-action="Index">Hãng sản phẩm</a>
        </li>
    </ul>
</li>
<!--Quảng cáo-->
<li>
    <a href="#"><i class="fas fa-bullhorn"></i> Quảng cáo<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a asp-area="Webmaster" asp-controller="TrangQuangCao" asp-action="Index">Quảng cáo</a>
        </li>
        <li>
            <a asp-area="Webmaster" asp-controller="GoiQuangCao" asp-action="Index">Gói quảng cáo</a>
        </li>
        <li>
            <a asp-area="Webmaster" asp-controller="ViTriQuangcao" asp-action="Index">Vị trí quảng cáo</a>
        </li>
        <li>
            <a asp-area="Webmaster" asp-controller="QuangCao" asp-action="Index">Trang quảng cáo</a>
        </li>
    </ul>
</li>
<!--Phiếu-->
<li>
    <a href="#"><i class="far fa-clipboard"></i> Đơn hàng<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a asp-area="Webmaster" asp-controller="PhieuDat" asp-action="Index">Phiếu đặt hàng</a>
        </li>
        <li>
            <a asp-area="Webmaster" asp-controller="PhieuGiao" asp-action="Index">Phiếu giao hàng</a>
        </li>
    </ul>
</li>
<!--Khác-->
<li>
    <a href="#"><i class="fas fa-ghost"></i> Khác<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a asp-area="Webmaster" asp-controller="GiaShip" asp-action="Index">Giá ship</a>
        </li>
        <li>
            <a asp-area="Webmaster" asp-controller="TinhThanh" asp-action="Index">Tỉnh thành</a>
        </li>
        <li>
            <a asp-area="Webmaster" asp-controller="GianHang" asp-action="Index">Gian hàng</a>
        </li>
    </ul>
</li>
<script src="~/admintemplate/vendor/jquery/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
@*<script src="~/admintemplate/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="~/admintemplate/vendor/metisMenu/metisMenu.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="~/admintemplate/dist/js/sb-admin-2.js"></script>*@