.ul-header
{
    background: #000;
}
.li-header {
    display: block !important;
    width: 100% !important;
    padding: 5px !important;
    border-right: none !important;
    border-bottom: 1px solid #464444 !important;
}