<!DOCTYPE html>
<html>
<head>
<title>SNKRX - Thanh Toán</title>
<!--/tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Elite Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--//tags -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/font-awesome.css" rel="stylesheet"> 
<link href="css/easy-responsive-tabs.css" rel='stylesheet' type='text/css'/>

<link href="css/fix.css" rel='stylesheet' rel="stylesheet" type='text/css'/>
<!-- //for bootstrap working -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="container-fluid bg_header_knb">
        <div class="container">
            <div class="icon_header_knb">
                <i class="fa fa-shopping-bag"></i>
            </div>
            <div class="logo_header_knb">
                <a href="merchant-quanly.html">
                    <h4><span>Trang Chủ</span></h4>
                </a>
                <a href="#">
                    <i class="fa fa-angle-right"></i>
                    <h4>Thanh Toán</h4>
                </a>
            </div>
            <div class="user_merchant">
                <ul>
                    <a href="#">
                        <li><i class="fa fa-user"></i></li>
                        <li>merchant1</li>
                    </a>
                    <li class="gach_khoangcach">|</li>
                    <a href="#">
                        <li><i class="fa fa-sign-out"></i></li>
                        <li>Đăng Xuất</li>
                    </a>
                </ul>         
            </div>
        </div>
    </div>
    <div class="container-fluid bg_giohang">
        <div class="container">
            <div class="thanhtoan">
                <div class="icon_diachi">
                    <i class="fa fa-map-marker"></i>
                    <h4>Địa chỉ nhận hàng</h4>
                </div>
                <div class="content_diachi">
                    <h4><b>Xù (0932753277) </b>133/8 Vĩnh Viễn F4, Quận 10, TPHCM</h4>
                    <a href="#">Thay Đổi</a>
                </div>
            </div>
            <div class="thanhtoan form_sp_thanhtoan">
                <div class="sanpham_giohang sp_thanhtoan">
                    <h5>Sản Phẩm</h5>
                </div>
                <div class="dongia_giohang dg_thanhtoan">
                    <h5>Đơn Giá</h5>
                </div>
                <div class="soluong_giohang gh_thanhtoan">
                    <h5>Số Lượng</h5>
                </div>
                <div class="thanhtien_giohang tt_thanhtoan">
                    <h5>Thành Tiền</h5>
                </div>
            </div>
            <div class="cart_theoshop">
                <div class="cart_theoshop_header form_sp_thanhtoan">
                    <div class="sanpham_giohang sp_thanhtoan">
                        <a href="#">
                            <i class="fa fa-bank"></i>
                            <h5>merchant1</h5>
                        </a>
                    </div>
                </div>
                <div class="cart_theoshop_item">
                    <div class="sanpham_giohang sp_thanhtoan">
                        <div class="hinh_sanpham_giohang" style="background-image:url(images/d1.jpg);"></div>
                        <div class="form_ten_sp_giohang">
                            <h5>
                                <a href="single.html" class="ten_sp_giohang">Giày Converse Classic White didi dkkfio jdjfid kdkdv  dkvh mdfkkv djfuv</a>
                            </h5>
                        </div>
                    </div>
                    <div class="dongia_giohang dg_thanhtoan">
                        <h5>₫1.080.000</h5>
                    </div>
                    <div class="soluong_giohang sl_thanhtoan">
                        <div class="tang_soluong">
                            <h5>1</h5>
                        </div>
                    </div>
                    <div class="thanhtien_giohang tt_thanhtoan">
                        <h5>₫1.080.000</h5>
                    </div>       
                </div>
                <div class="cart_theoshop_item">
                    <div class="sanpham_giohang sp_thanhtoan">
                        <div class="hinh_sanpham_giohang" style="background-image:url(images/d1.jpg);"></div>
                        <div class="form_ten_sp_giohang">
                            <h5>
                                <a href="single.html" class="ten_sp_giohang">Giày Converse Classic White didi dkkfio jdjfid kdkdv  dkvh mdfkkv djfuv</a>
                            </h5>
                        </div>
                    </div>
                    <div class="dongia_giohang dg_thanhtoan">
                        <h5>₫1.080.000</h5>
                    </div>
                    <div class="soluong_giohang sl_thanhtoan">
                        <div class="tang_soluong">
                            <h5>1</h5>
                        </div>
                    </div>
                    <div class="thanhtien_giohang tt_thanhtoan">
                        <h5>₫1.080.000</h5>
                    </div>       
                </div>
            </div>
            <div class="form_chuthich">
                <div class="form_15_30">
                    <div class="loi_nhan">
                        <h5>Lời nhắn: </h5>
                        <input type="text" placeholder="Để lại lời nhắn cho người bán...">
                    </div>
                    <div class="txt_thanh_toan">
                        <h5>Phương thức thanh toán: </h5>
                    </div>
                    <div class="phuong_thuc_thanh_toan">
                        <label class="radio_pt_tt">Thanh toán khi nhận hàng
                            <input type="radio" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                        <label class="radio_pt_tt">Paypal (đang phát triển)
                            <input type="radio" disabled="disabled">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form_chuthich">
                <div class="form_padding_15_30">
                    <div class="tong_tienhang">                    
                        <div class="txt_dathang">
                            <p>Tổng tiền hàng</p>
                        </div>
                        <div class="gia_dathang">
                            <p>₫300.000</p>
                        </div>
                    </div>
                    <div class="tong_tienhang">                    
                        <div class="txt_dathang">
                            <p>Phí vận chuyển</p>
                        </div>
                        <div class="gia_dathang">
                            <p>₫50.000</p>
                        </div>
                    </div>
                    <div class="tong_tienhang">                    
                        <div class="txt_dathang">
                            <p >Tổng thanh toán</p>
                        </div>
                        <div class="gia_dathang">
                            <p class="gia_tong">₫350.000</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form_15_30">
                    <div class="button-dathang">
                        <button class="btn-muahang">Đặt Hàng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>