<!DOCTYPE html>
<html>
<head>
<title>SNKRX - Kênh Người Bán</title>
<!--/tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Elite Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--//tags -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/font-awesome.css" rel="stylesheet"> 
<link href="css/easy-responsive-tabs.css" rel='stylesheet' type='text/css'/>

<link href="css/fix.css" rel='stylesheet' rel="stylesheet" type='text/css'/>
<!-- //for bootstrap working -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="container-fluid bg_header_knb">
        <div class="container">
            <div class="icon_header_knb">
                <i class="fa fa-shopping-bag"></i>
            </div>
            <div class="logo_header_knb">
                <h4>SNKRX - Kênh Người Bán</h4>
            </div>
            <div class="user_merchant">
                <ul>
                    <a href="merchant-taikhoan.html">
                        <li><i class="fa fa-user"></i></li>
                        <li>merchant1</li>
                    </a>
                    <li class="gach_khoangcach">|</li>
                    <a href="#">
                        <li><i class="fa fa-sign-out"></i></li>
                        <li>Đăng Xuất</li>
                    </a>
                </ul>         
            </div>
        </div>
    </div>
    <div class="container menu_knb">
        <h2>Chào mừng đến với SNKRX - Kênh Người bán</h2>
        <p>SNKRX - Kênh Người bán là công cụ quản lý shop, giúp bạn dễ phân loại sản phẩm,</p>
        <p>theo dõi đơn hàng, chăm sóc khách hàng và đánh giá hoạt động của shop.</p>
        <div class="menu_knb_part">
            <a href="merchant-quanly-sanpham-all.html">
                <div class="menu_knb_icon">
                    <i class="fa fa-inbox"></i>          
                </div>
                <h4>Sản Phẩm</h4>
            </a>
        </div>
        <div class="menu_knb_part">
            <a href="merchant_don_ban.html">
                <div class="menu_knb_icon">
                    <i class="fa fa-tags"></i>          
                </div>
                <h4>Đơn Bán</h4>
            </a>
        </div>
        <div class="menu_knb_part">
            <a href="#">
                <div class="menu_knb_icon">
                    <i class="fa fa-video-camera"></i>          
                </div>
                <h4>Quảng Cáo</h4>
            </a>
        </div>
        <div class="menu_knb_part">
            <a href="#">
                <div class="menu_knb_icon">
                    <i class="fa fa-money"></i>          
                </div>
                <h4>Doanh Thu</h4>
            </a>
        </div>
        <div class="menu_knb_part">
            <a href="merchant-taikhoan.html">
                <div class="menu_knb_icon">
                    <i class="fa fa-gear "></i>          
                </div>
                <h4>Thiết Lập Shop</h4>
            </a>
        </div>
        <div class="menu_knb_part">
            <a href="#">
                <div class="menu_knb_icon">
                    <i class="fa fa-home "></i>          
                </div>
                <h4>Đăng Ký Bán Hàng</h4>
            </a>
        </div>
        <div class="clearfix"></div>
        <div class="bottom_knb">
            <p>Bạn có thắc mắc? Ghé thăm ngay<a href="#"> Trung tâm trợ giúp Người bán</a> để tìm hiểu các mẹo,</p>
            <p> câu hỏi thường gặp và tài liệu hướng dẫn.</p>
        </div>
    </div>
</body>
</html>