<!DOCTYPE html>
<html>
<head>
<title>SNKRX - Kênh Người Bán</title>
<!--/tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Elite Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--//tags -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/font-awesome.css" rel="stylesheet"> 
<link href="css/easy-responsive-tabs.css" rel='stylesheet' type='text/css'/>

<link href="css/fix.css" rel='stylesheet' rel="stylesheet" type='text/css'/>
<!-- //for bootstrap working -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="container-fluid bg_header_knb">
        <div class="container">
            <div class="icon_header_knb">
                <i class="fa fa-shopping-bag"></i>
            </div>
            <div class="logo_header_knb">
                <a href="merchant-quanly.html">
                    <h4><span>Trang Chủ</span></h4>
                </a>
                <a href="merchant-quanly-sanpham.html">
                    <i class="fa fa-angle-right"></i>
                    <h4>Sản Phẩm</h4>
                </a>
            </div>
            <div class="user_merchant">
                <ul>
                    <li><i class="fa fa-user"></i></li>
                    <li>merchant1</li>
                    <li class="gach_khoangcach">|</li>
                    <a href="#">
                        <li><i class="fa fa-sign-out"></i></li>
                        <li>Đăng Xuất</li>
                    </a>
                </ul>         
            </div>
        </div>
    </div>
<!-- /quanlysanpham --> 
	<div class="new_arrivals_agile_w3ls_info menu-qlsp"> 
        <div class="container">	 
            <div id="horizontalTab">
                <ul class="resp-tabs-list">
                    <a href="merchant-quanly-sanpham-all.html"><li>Tất cả</li></a>
                    <a href="merchant-quanly-sanpham-conhang.html"><li>còn hàng</li></a>
                    <a href="merchant-quanly-sanpham-hethang.html"><li style="background-color: #fc636b">hết hàng</li></a>
                    <a href="merchant-quanly-sanpham-bikhoa.html"><li>đã bị khoá</li></a>
                </ul>
                <div class="resp-tabs-container">
                <!--/tab_one-->
                    <div class="tab1">
                        <div class="col-md-3 product-men">
                                <div class="men-pro-item simpleCart_shelfItem">
                                    <div class="men-thumb-item">
                                        <img src="images/w1.jpg" alt="" class="pro-image-front">
                                        <img src="images/w1.jpg" alt="" class="pro-image-back">   
                                        <div class="hethang">
                                            <h4>Hết Hàng</h4>
                                        </div>                                 
                                    </div>
                                    <div class="item-info-product ">
                                        <h4>Men's Black Jeans</h4>
                                        <div class="info-product-price">
                                            <span class="item_price">$45.99</span>
                                            <del>$69.71</del>
                                        </div>
                                        <div class="button-sua-xoa">
                                            <form>
                                                <input type="button" value="Sửa" class="button-sua" onclick="location.href='#'">
                                                <input type="submit" value="Xoá" class="button-xoa">
                                            </form>
                                        </div>    
                                    </div>
                                </div>
                        </div>
                        <div class="col-md-3 product-men">
                                    <div class="men-pro-item simpleCart_shelfItem">
                                        <div class="men-thumb-item">
                                            <img src="images/w2.jpg" alt="" class="pro-image-front">
                                            <img src="images/w2.jpg" alt="" class="pro-image-back">    
                                            <div class="hethang">
                                                <h4>Hết Hàng</h4>
                                            </div>                                
                                        </div>
                                        <div class="item-info-product ">
                                            <h4>Analog Watch</h4>
                                            <div class="info-product-price">
                                                <span class="item_price">$45.99</span>
                                                <del>$69.71</del>
                                            </div>
                                            <div class="button-sua-xoa">
                                                <form>
                                                    <input type="button" value="Sửa" class="button-sua" onclick="location.href='#'">
                                                    <input type="submit" value="Xoá" class="button-xoa">
                                                </form>
                                            </div>    
                                        </div>
                                    </div>
                        </div> 
                        <div class="col-md-3 product-men">
                                <div class="men-pro-item simpleCart_shelfItem">
                                    <div class="men-thumb-item">
                                        <img src="images/w3.jpg" alt="" class="pro-image-front">
                                        <img src="images/w3.jpg" alt="" class="pro-image-back">  
                                        <div class="hethang">
                                            <h4>Hết Hàng</h4>
                                        </div>                                  
                                    </div>
                                    <div class="item-info-product ">
                                        <h4>Reversible Belt</h4>
                                        <div class="info-product-price">
                                            <span class="item_price">$45.99</span>
                                            <del>$69.71</del>
                                        </div>
                                        <div class="button-sua-xoa">
                                            <form>
                                                <input type="button" value="Sửa" class="button-sua" onclick="location.href='#'">
                                                <input type="submit" value="Xoá" class="button-xoa">
                                            </form>
                                        </div>    
                                    </div>
                                </div>
                        </div>
                        <div class="col-md-3 product-men">
                                    <div class="men-pro-item simpleCart_shelfItem">
                                        <div class="men-thumb-item">
                                            <img src="images/w4.jpg" alt="" class="pro-image-front">
                                            <img src="images/w4.jpg" alt="" class="pro-image-back">    
                                            <div class="hethang">
                                                <h4>Hết Hàng</h4>
                                            </div>                            
                                        </div>
                                        <div class="item-info-product ">
                                            <h4>Party Men's Blazer</h4>
                                            <div class="info-product-price">
                                                <span class="item_price">$45.99</span>
                                                <del>$69.71</del>
                                            </div>
                                            <div class="button-sua-xoa">
                                                <form>
                                                    <input type="button" value="Sửa" class="button-sua" onclick="location.href='#'">
                                                    <input type="submit" value="Xoá" class="button-xoa">
                                                </form>
                                            </div>    
                                        </div>
                                    </div>
                        </div>                                            
                        <div class="clearfix"></div>
                    </div>                          
                <!--//tab_one-->            
                </div>
            <!--phân trang-->
                <ul class="phantrang modal-1" style="padding-top: 1.5em;">
                                <li><a href="#" class="prev">&laquo</a></li>
                                <li><a href="#" class="active">1</a></li>
                                <li> <a href="#">2</a></li>
                                <li> <a href="#">3</a></li>
                                <li> <a href="#">4</a></li>
                                <li> <a href="#">5</a></li>
                                <li> <a href="#">6</a></li>
                                <li> <a href="#">7</a></li>
                                <li> <a href="#">8</a></li>
                                <li> <a href="#">9</a></li>
                                <li><a href="#" class="next">&raquo;</a></li>	
                </ul>
            <!--hết phân trang-->
            </div>	
        </div>
    </div>
<!-- //quanlysanpham --> 

</body>
</html>