
@{
    ViewData["Title"] = "HoTroXoaSanPham";
    Layout = "~/Views/Shared/_MerchantManagementLayout.cshtml";
}

<div class="container tt_trogiup">
    <div class="anh_hotro">
        <img src="~/maintemplate/images/vipham_sanpham.jpg">
    </div>
</div>