
@{
    ViewData["Title"] = "HoTroTaoSanPham";
    Layout = "~/Views/Shared/_MerchantManagementLayout.cshtml";
}

<div class="container tt_trogiup">
    <div class="anh_hotro">
        <img src="~/maintemplate/images/tao_sp_moi.jpg">
    </div>
</div>