@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MerchantManagementLayout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container menu_knb">
    <h2>Chào mừng đến với SNKRX - Kênh Người bán</h2>
    <p>SNKRX - Kênh Người bán là công cụ quản lý shop, giúp bạn dễ phân loại sản phẩm,</p>
    <p>theo dõi đơn hàng, chăm sóc khách hàng và đánh giá hoạt động của shop.</p>
    <div class="menu_quanly_knb">
        <div class="menu_knb_part">
            <a asp-area="Merchant" asp-controller="QuanLy" asp-action="ListSP">
                <div class="menu_knb_icon">
                    <i class="fa fa-inbox"></i>
                </div>
                <h4>Sản Phẩm</h4>
            </a>
        </div>
        <div class="menu_knb_part">
            <a asp-area="Merchant" asp-controller="DonHang" asp-action="ChoLayHang">
                <div class="menu_knb_icon">
                    <i class="fa fa-tags"></i>
                </div>
                <h4>Đơn Bán</h4>
            </a>
        </div>
        <div class="menu_knb_part">
            <a href="#">
                <div class="menu_knb_icon">
                    <i class="fa fa-video-camera"></i>
                </div>
                <h4>Quảng Cáo</h4>
            </a>
        </div>
        <div class="menu_knb_part">
            <a href="#">
                <div class="menu_knb_icon">
                    <i class="fa fa-money"></i>
                </div>
                <h4>Doanh Thu</h4>
            </a>
        </div>
        <div class="menu_knb_part">
            <a href="#">
                <div class="menu_knb_icon">
                    <i class="fa fa-gear "></i>
                </div>
                <h4>Thiết Lập Shop</h4>
            </a>
        </div>
        <div class="menu_knb_part">
            <a href="#">
                <div class="menu_knb_icon">
                    <i class="fa fa-home "></i>
                </div>
                <h4>Đăng Ký Bán Hàng</h4>
            </a>
        </div>
        <div class="clearfix"></div>
        </div>
        <div class="bottom_knb">
            <p>Bạn có thắc mắc? Ghé thăm ngay<a href="#"> Trung tâm trợ giúp Người bán</a> để tìm hiểu các mẹo,</p>
            <p> câu hỏi thường gặp và tài liệu hướng dẫn.</p>
        </div>
    </div>
