
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MerchantLayout.cshtml";
}

<div class="container">
    <div class="Banhang-content">
        <h3>Quản lý shop của bạn một cách hiệu quả hơn</h3>
        <h3>trên SNRKX với SNRKX - Kênh Người bán</h3>
    </div>
    <div class="Banhang-img">
        <img src="~/maintemplate/images/online-store.png">
    </div>
</div>