@model Models.Database.TaiKhoan

@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


@if (Model.DatLaiMatKhau == 0)
{
    <script>
        location.href = "@Url.Action("Index", "Home")";
    </script>
}
else
{
    <!-- Modal đặt lại mật khẩu-->
    <div class="modal fade" id="resetPassword" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="btnCloseModal" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body modal-body-sub_agile">
                    <div class="col-md-8 modal_body_left modal_body_left1">
                        <h3 class="agileinfo_sign">Đặt lại mật khẩu</h3>
                        <div id="alertForgotModal2" style="display: none;">
                            <p style="color: red;" id="alertContentForgotModal2">Thông báo</p>
                        </div>
                        <form id="resetForm" role="form" action="" method="post">
                            <div class="styled-input">
                                <input type="password" id="matkhau1" name="matkhau" pattern=".{8,}" required oninvalid="this.setCustomValidity('Mật khẩu chứa ít nhất 8 ký tự')" onchange="this.setCustomValidity('')">
                                <label>Mật khẩu</label>
                                <span></span>
                            </div>
                            <div class="styled-input">
                                <input type="password" id="matkhau2" pattern=".{8,}" required oninvalid="this.setCustomValidity('Mật khẩu chứa ít nhất 8 ký tự')" onchange="this.setCustomValidity('')">
                                <label>Nhập lại mật khẩu</label>
                                <span></span>
                            </div>
                            <input type="submit" id="btnResetPassword" value="Đặt lại mật khẩu">
                        </form>
                        <ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
                            <li>
                                <a href="#" class="facebook">
                                    <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="twitter">
                                    <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="instagram">
                                    <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="pinterest">
                                    <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>

                    </div>
                    <div class="col-md-4 modal_body_right modal_body_right1">
                        <img src="~/maintemplate/images/log_pic.jpg" alt=" " />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- //Modal content-->
        </div>
    </div>
    <!-- //Modal3 -->
}

@section Scripts{
    <script>
        $(document).ready(function(){
            $("#resetPassword").modal({
                show: true,
                backdrop: 'static',
                keyboard: false //prevent closing with Esc button
            });
        });

        $("#btnCloseModal").click(function(){
            location.href = "@Url.Action("Index", "Home")";
        });

        $("#resetForm").submit(function (e) {
            e.preventDefault();
            let matkhau1 = $("#matkhau1").val();
            let matkhau2 = $("#matkhau2").val();
            if(matkhau1 != matkhau2)
            {
                $("#alertContentForgotModal2").text("Mật khẩu không trùng khớp");
                $("#alertForgotModal2").css('display', 'block');
            }
            else
            {
                let tendangnhap = "@Model.TenDangNhap";
                $.ajax({
                    url: "/Customer/TaiKhoan/ResetPassword",
                    type: "post",
                    data: { "tendangnhap": tendangnhap, "matkhau": matkhau1 },
                    success: function (data) {
                        location.href = "@Url.Action("Index", "Home", new { thongbao = "Đổi mật khẩu thành công" })";
                    },
                    error: function (data) {
                        alert("Error: " + data);
                    }
                });
            }
        });
    </script>
}